<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="./todo.png" type="image/png">
  <title>TodoMVC • VUE</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <section id="app">
    <div class="header">
      <h1>todos</h1>
      <div class="new-todo-wrap">
        <span class="toggle-all" v-show="allDone">❯</span>
        <input type="text" class="new-todo"
          placeholder="What needs to be done?"
          v-model="newTodo"
          @keyup.enter="addTodo"
          autocomplete="off"
          autofocus
        >
      </div>
    </div>
    <div class="main" v-cloak v-show="todos.length">
      <ul class="todo-lists">
        <li v-for="todo in todos" class="todo">
          <div class="todo-wrap">
            <span :class="['toggle', {done: todo.isDone}]" @click="toggle(todo)"></span>
            <span @dblclick="editTodo(todo)" :class="['title', {finish: todo.isDone}]">{{ todo.title }}</span>
            <span class="remove" @click="removeTodo(todo)">×</span>
            <!-- 当一个元素失去焦点时会触发blur事件 -->
            <input type="text" class="edit"
              v-show="todo === editingTodo"
              v-todo-focus="todo === editingTodo"
              v-model="todo.title"
              @blur="doneEdit(todo)"
              @keyup.enter="doneEdit(todo)"
              @keyup.esc="cancelEdit(todo)"
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="footer" v-cloak>
      <span class="todo-count"></span>
    </div>
  </section>

  <footer class="info">
    <p>Double-click to edit a todo</p>
    <p>From <a href="https://cn.vuejs.org/v2/examples/todomvc.html">vue todo-mvc</a></p>
    <p>Code by <a href="https://github.com/threegeese">qjh</a></p>
  </footer>

  <script src="./app.js" type="module"></script>
</body>
</html>